.container {
  background-color: var(--color-background-lighten);
}

.title {
  @apply text-center;

  font-size: 3.5rem;
  letter-spacing: 2.38px;
}

.resources {
  @apply flex flex-col;

  margin-top: 70px;
}

.resource + .resource {
  margin-top: 80px;
}

.resource {
  @apply flex flex-col justify-between items-center;
}

.resource img {
  @apply w-full h-auto my-8;

  max-width: 350px;
}

.resource h3 {
  width: max-content;

  font-size: 4rem;
  letter-spacing: 3.26px;
}

.resource p {
  margin-top: 10px;

  font-size: 2.2rem;
  letter-spacing: 1.3px;
}

/* Responsive */

@screen lg {
  .resource {
    @apply flex-row;
  }

  .resource :global(.content) {
    max-width: 450px;
  }
}
